:root {
  --primary-color: rgb(249, 89, 30);
  --secondary-color: rgb(30, 31, 28);
  --text-color: rgb(0, 0, 0);
  --background-color: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;

  font-family: 'Play', sans-serif;
  font-weight: 400;
  font-style: normal;

  color: var(--secondary-color);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  color: var(--text-color);
  background-color: var(--background-color);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: var(--secondary-color);
}

.logo {
  font-weight: 700;
  color: var(--primary-color);
  transform: skew(-15deg);
}

.promotions {
  display: flex;
  flex-direction: column;
}

.navigation-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;

  display: flex;
}

.navigation-item {
  position: relative;
  margin-right: 40px;
  color: var(--background-color);
}

.navigation-item:not(:last-child)::before {
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  height: 20px;
  border-right: 2px solid var(--primary-color);
  transform: skew(-15deg);
}

.navigation-link {
  font-weight: 700;
  color: var(--background-color);
  transition: ease-in-out 0.2s;
}

.navigation-link:hover {
  color: var(--primary-color);
}

.promotions-description {
  color: var(--background-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 50%;
}

.redstar {
  width: 100%;

  display: flex;
  justify-content: space-around;

  background-color: var(--primary-color);
}

.redstar-part {
  width: 25%;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

